:root{
    --purple: rgb(233, 0, 183);
    --violet: rgb(109, 55, 167);
    --pink: rgb(228, 79, 129);
}

body{
    background-color: black;
}

nav{
    width: 100%;
    height: 100px;
    background: transparent;
    color: white;
    font-family: 'Ruda', sans-serif;
}

.logo-img{
    width: 50px;
    height: 50px;
    background-image: url("../assets/logo-img.png");
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    margin-top: 23px;
    float: left;
    margin-left: 30px;
}

.logoname{
    float: left;
    padding-top: 30px;
    padding-left: 7px;
    color: white;
    font-family: 'RocknRoll One', sans-serif !important;
}

.logoname:hover{
    cursor: pointer;
}

.page-2{
    color: white;
}

ul a{
    text-decoration: none;
    color: white;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    margin-top: 33px;
    padding-left: 40px;
    padding-top: 5px;
    height:35px;
    text-align: center;
    float: left;
    opacity: 0.9;
}

.nav-con li:hover{
    opacity: 1;
    font-weight: bold;
    color: white;
}

.searchbar{
    float: right;
    margin-top: 24px;
    margin-right: 50px;
}

.search-elm{
    width: 255px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    border: 2px solid magenta;
    padding-left: 20px;
    padding-right: 20px;
    color: white !important;
}

.active{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}


header{
    background-image: url("../assets/headerbg-4.jpg");
    background-size: cover;
    background-position: center;
    height: 850px;
    margin-top: -100px;
    color: white;
    padding-top: 18%;
    padding-left: 122px;
}

h2, h3, h4, h5{
    font-family: 'Ruda', sans-serif;
}

header h1{
    font-family: 'RocknRoll One', sans-serif;
    font-size: 60px;
    font-weight: 900;
}

h1{
    font-family: 'RocknRoll One', sans-serif;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }

    to{
        background-position: -200% center;
    }
}

.magic{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
    to right, 
    var(--purple), 
    var(--violet), 
    var(--pink), 
    var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


.button-con ul{
    list-style: none;
    margin-left: -30px;
    margin-top: 60px;
}

.button-con li{
    float: left;
    margin-right: 20px;
}

.header-btn{
    height: 60px;
    width: 200px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 17px;
}

#prim-btn{
    color: white;
    background-color: rgba(233, 0, 183, 0.6);
}

#prim-btn:hover{
    color: black;
    background-color: rgba(5, 247, 247, 0.8);
    cursor: pointer;
}

#sec-btn{
    border: 3px solid rgba(233, 0, 183, 0.6);
    padding-top: 14px;
}

#sec-btn:hover{
    background-color: rgba(233, 0, 183, 0.6);
    cursor: pointer;
}

.sml-icon:hover{
    background-color: rgba(233, 0, 183, 0.6);
    cursor: pointer;
}

#header-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%; 
    text-align: center;  
    opacity: 0.8;
}

#header-icon img{
    height: 60px;
    width: 60px;
}

#header-icon:hover{
    background-color: var(--purple);
    cursor: pointer;
}

.video{
    height: 360px;
    width: 600px;
    margin-left: 122px;
    margin-top: -72px;
    z-index: 1;
    position: relative;
}

.rect-box{
    height: 420px;
    width: 90%;
    background-color: rgba(44, 55, 72, 0.5);
    color: white;
    margin-top: -60px;
    margin-left: -90px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 50px;
}

.top-icons{
    margin-top: 50px;
    margin-right: -20px;
    float: right;
}

.top-icons ul{
    list-style: none;
}

.top-icons li{
    float: left;
    margin-left: 20px;
}

.sml-icon{
    height: 50px;
    width: 50px;
    border: 4px solid magenta;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
 /* Made these css images so that I could change the color */
#left-arrow{
    background-image: url("../assets/angle-left-solid.svg");
}

#right-arrow{
    background-image: url("../assets/angle-right-solid.svg");
}

.albums{
    margin-left: 122px;
    margin-right: 50px;
    margin-bottom: 80px;
}

.albums h4{
    margin-bottom: 35px;
    color: white;
    font-weight: bold;
}

.rect-albm-cvr{
    height: 277px;
    width: 277px;
    background-color: lightgrey;
    margin-right: 30px;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    background-position: center;  
}

.overlay{
    height: 70px;
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 210px;
    opacity: 0;
}

.play-icon{
    height: 70px;
    width: 70px;
    margin-top: -120px;
    margin-left: 95px;
    position: absolute;
}

.play-icon img:hover{
    cursor: pointer;
    content: url("../assets/play_icon\ hover.svg");
}

.overlay h5{
    margin-top: -12px;
    font-size: 18px;
}

.overlay-text{
    margin-top: 7px !important;
    position: absolute;
}

.heart-icon-sml{
    width: 45px;
    height: 45px;
    margin-left: 210px;
    margin-top: 10px !important;
    position: absolute;
}

.heart-icon-sml img:hover{
    cursor: pointer;
    content: url("../assets/heart_icon_smal\ hover.svg");
}

#ac1{
    background-image: url("../assets/albumcovers/alc.04.47.png");
}

.overlay:hover{
    opacity: 1;
}

#ac2{
    background-image: url("../assets/albumcovers/alc.05.00.png");
}

#ac3{
    background-image: url("../assets/albumcovers/alc.05.14.png");
}

#ac4{
    background-image: url("../assets/albumcovers/alc.05.25.png");
}

#ac5{
    background-image: url("../assets/albumcovers/alc.05.44.png");
}

#ac6{
    background-image: url("../assets/albumcovers/alc.05.54.png");
}

#ac7{
    background-image: url("../assets/albumcovers/alc.06.19.png");
}

#ac8{
    background-image: url("../assets/albumcovers/alc.07.23.png");
}

#ac9{
    background-image: url("../assets/albumcovers/alc.06.39.png");
}

#ac10{
    background-image: url("../assets/albumcovers/alc.06.53.png");
}

#ac11{
    background-image: url("../assets/albumcovers/alc.07.04.png");
}

#ac12{
    background-image: url("../assets/albumcovers/alc.07.13.png");
}

.rect-albm-cvr img{
    width: 100%;
    height: 100%;
}

#scnd-rw-albms{
    margin-top: -20px;
}

footer{
    height: 90px;
    margin-top: -20px;
    margin-left: 122px;
    margin-right: 75px;
    color: white;
}

footer p{
    padding-top: 15px;
}

.footer-icons ul{
    margin-top: -55px;
    list-style: none;
    float: right;
}

.footer-icons li{
    border: 2px solid white !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    padding-top: 7px;
}

.footer-icons img{
    width: 70%;
    height: 80%;
    background-repeat: no-repeat;
}

.page-2-text{
    margin-top: 125px;
    margin-left: 122px;
    margin-bottom: 150px;
}

.page-2-text ul{
    list-style: none;
    margin-top: 60px;
    margin-left: -32px;
}

.page-2-text li{
    float: left;
    margin-right: 20px;
}

.sml-text{
    padding-top: 12px;
}

#mail{
    background-image: url("../assets/email_icon.svg");
}

#phone{
    background-image: url("../assets/phone_icon.svg");
}

.map-box{
    margin-top: 135px;
    width: 100%;
    height: 200px;
    background-color: grey;
}

.contact-form form{
    height: 530px;
    margin-top: 125px;
    margin-right: 122px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    background-color: rgb(43, 20, 47);
    padding-bottom: 50px;
}

.input-elem{
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: 25px;
    border: none;
    background-color: black;
    color: white;
}


#drop-down{
    height: 80px;
    padding-top: 10px;
}

#contact-btn{
    width: 225px;
    height: 55px;
    font-weight: bold;
    float: right;
}

#contact-btn:hover{
    background-color: magenta;
}

.myplst-heading{
    width: 100%;
    margin-top: 30px;
    padding-left: 122px;
    margin-bottom: -30px;
}

.album-playing{
    width: 480px;
    height: 480px;
    background-image: url("../assets/albumcovers/alc.05.14.png");
    background-position: center;
    background-size: cover;
    margin-left: 120px;
    margin-top: 110px;
    text-align: center;
    padding-top: 180px;
}

.mini-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../assets/logo-img.png");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 80px;
}

.song-table{
    margin-top: 50px;
    margin-bottom: 30px;
}

.player-heading{
    float: left;
    margin-right: 60px;
    font-size: 22px;
    
}

.actph{
    font-weight: bold;
}

.active-player-heading{
    border-bottom: 5px solid magenta;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: -10px;
}

.song-row-title h5{
    float: left;
    margin-right: 150px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#songtitle{
    margin-left: -110px !important;
    margin-right: 150px;
}

.threedots{
    width:20px !important;
    height: 20px !important;
    margin-top: 10px;
    transform: rotate(90deg);
    background-image: url("../assets/threeDots.svg");
    background-position: center;
    background-size: fit;
    background-repeat: no-repeat;
}

.song-elem{
    float: left;
}

#n{
    width: 50px !important;
    margin-right: 30px;
    padding-top: 10px;
}

#st{
    width: 200px !important;
    margin-right: 70px;
}

#al{
    width: 200px !important;
    margin-right: 40px;
    padding-top: 10px;
}

#d{
    width: 120px !important;
    padding-top: 10px;
}

.song-row{
    width: 90%;
    height: 70px;
    padding-top: 10px;
    border-bottom: 3px solid rgba(255, 0, 255, 0.2);
}

.active-song-row{
    font-weight: bold !important;
}

.player-line{
    width: 100%;
    /* background-color: rgba(255, 0, 255, 0.2); */
    margin-top: 60px;
}

.line{
    width: 88%;
    margin-left: 7%;
    height: 7px;
    background-color:rgba(255, 0, 255, 0.2);
}

.inner-line{
    width: 30%;
    height: 7px;
    background-color: magenta;
}

.marker{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: magenta;
    margin-left: 32%;
    margin-top: -18px;
    
}

.mini-album-cvr{
    width: 80px;
    height: 80px;
    background-image: url("../assets/albumcovers/alc.05.14.png");
    background-position: center;
    background-size: cover;
    margin-top: 25px;
    margin-left: 122px;
}

.mini-album-cvr-text{
    font-weight: bold;
    margin-top: 35px;
    margin-left: 15px;
}

.f{
    float: left;
}

.sml-circle{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.lrg-circle{
    width: 100px;
    height: 100px;
    background-color: magenta;
    border-radius: 50%;
}

.media-con{
    margin-left: 30%;
    margin-top: 10px;
}

.media-con:hover{
    cursor: pointer;
}

.right-cons{
    margin-left: 60%;
    margin-top: 10px;
}

.three-verticle-dots{
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 17px;
    background-image: url("../assets/threeDots.svg");
    background-position: center;
    background-size: 8px;
    background-repeat: no-repeat;
}

.z{
    margin-top: 30px;
    margin-right: 20px;
}

.btm-spacing{
    height: 30px;
}